.video-container {
  display: none;
  margin: 0;
}

.video-content {
  width: 100%;
  object-fit: fill;
}

.video-description-button {
  text-align: end;
  padding-right: 20px;
  color: #6f6e6e;
}

.video-description-content {
  padding: 0 20px;
  color: #6f6e6e;
}

@media screen and (min-width: 501px) {
  .video-container {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .video-content {
    height: 750px;
    object-fit: cover;
  }
  
}